from flask import Blueprint

from .service import ComponentPascalCaseService
from .swagger import component_snake_case_sw_model
from app.blueprints.base import BaseResource
from app.decorators import token_required
from app.extensions import api as root_api


blueprint = Blueprint('component_snake_cases', __name__)
api = root_api.namespace('component_snake_cases', description='Description message.')


class _BaseComponentPascalCaseResource(BaseResource):
    component_snake_case_service = ComponentPascalCaseService()


@api.route('')
class NewResource(_BaseComponentPascalCaseResource):
    @api.doc(security='auth_token')
    @api.marshal_with(component_snake_case_sw_model, envelope='data', code=201)
    @token_required
    def post(self) -> tuple:
        pass
