from app.blueprints.base import BaseService
from .manager import ComponentPascalCaseManager
from .serializers import component_snake_case_serializer


class ComponentPascalCaseService(BaseService):
    def __init__(self):
        super(ComponentPascalCaseService, self).__init__()
        self.manager = ComponentPascalCaseManager()
        self.component_snake_case_serializer = component_snake_case_serializer
