# Flask
FLASK_APP=manage.py
FLASK_CONFIG=config.ProdConfig
FLASK_ENV=production  # production or development
SERVER_NAME=flask-api.prod

# Flask-Security-Too
SECRET_KEY=  # generated using: secrets.token_urlsafe()
SECURITY_PASSWORD_SALT=  # generated using: secrets.SystemRandom().getrandbits(128)

# Flask-Mail
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=
MAIL_USE_SSL=

# Flask-SQLAlchemy
SQLALCHEMY_DATABASE_URI=

# Flask Swagger UI
SWAGGER_URL=
SWAGGER_API_URL=

# Mr Developer
TEST_USER_EMAIL=
TEST_USER_PASSWORD=
