# Add .env support to your django/flask apps in development and deployments
python-dotenv

# Database
mysqlclient
mysql-connector-python  # Required by flask-migrate
sqlalchemy
factory-boy
redis  # Required by flask-caching

# Framework and extensions
flask
flask-caching
flask-mail
flask-marshmallow
flask-migrate
flask-restx
flask-security-too
flask-sqlalchemy

marshmallow-sqlalchemy  # Required by flask-sqlalchemy
